div{
    width: 130px;
    height: 130px;
    margin: 10px;
    display: inline-block;
}
.block1{
    background-image: linear-gradient(180deg, blue, red);
}
.block2{
    background-image: repeating-linear-gradient(45deg, red, red 5px,blue 5px, blue 10px);
}
.block3{
    background-image: radial-gradient(yellow, green);
}
.block4{
    background-image: repeating-radial-gradient(green, green 7px, yellow 7px, yellow 14px);
}
.block5{
    background-image:radial-gradient(yellow, green, transparent), 
                    linear-gradient(180deg, blue, red);                   
}
.block6{
    background-image: linear-gradient(90deg, yellow, green, transparent),
                        linear-gradient(180deg,black 0,  black 15%, white 45%,white 70%, blue 80%, blue 82%, purple 85%);
}