.block{
    display: flex;
    flex-direction: row;
}

div:not(.block){
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-size:30px;
    width: 50px;
    height: 60px;
    
}

p{
    margin: 10px;

}

#r{
    border: 8px outset rgb(255, 0, 0);
    
}

#g{
    border:8px dashed rgb(0, 128, 0);
}

#b{
    border:8px dotted rgb(0, 0, 255);
}

#c{
    border:8px double  rgb(0, 255, 255);
}

#m{
    border:8px groove rgb(255, 0, 255);
}

#y{
    border:8px inset rgb(255, 255, 0);
}

#k{
    border:8px solid rgb(0, 0, 0);
}

span{
    display: inline-block;
    margin: 5px;
    border: 5px solid #FF4500;
    background-color: #FFA500;

}

.p1{
    width: 400px;
    text-align: center;
    border: solid #FF7F50;
    margin: 0 auto;
}

.p2{
    border: solid red;
    border-radius: 20px/40px;
    box-shadow: inset 2px -2px 8px 8px rgba(0,0,0,.5);
    padding: 5px;
}

.p3{
    border: solid #FF6347;
}
