books{
    display: table;
    border-collapse: collapse;
    margin: 10px;
}
head, book{
    display: table-row;
}
author, name{
    display: table-cell;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}