li{
    display: inline;
    list-style-type: none;
    margin-right: -4px;
}
a{
    display: inline-block;
    width: 100px;
    margin: 0;
    border: 1px solid rgb(92, 129, 20);
    background-color: yellow;
    color: rgb(92, 125, 26);
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
.main{
    text-align: center;
}
